<app-status-bar></app-status-bar>
<div class="name-area">
  <h1>Room Description</h1>
</div>

<form [formGroup]="roomInformation">
  <app-content-box-fill>

    <div class="room-description-container">
      <div class="container-left">
        <h4>Room type</h4>
        <mat-form-field appearance="fill" class="input-field">
          <mat-label>Select the room type</mat-label>
          <mat-select formControlName="roomType">
            <mat-option *ngFor="let room of roomTypes" [value]="room.value">
              {{room.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <h4>Room name</h4>
        <mat-form-field appearance="fill" class="input-field room-name">
          <mat-label>e.g. Single room with beach view</mat-label>
          <mat-select formControlName="roomName">
            <mat-option *ngFor="let roomName of roomNames" [value]="roomName.value">
              {{roomName.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <p>This name will be displayed to the guests</p>

      </div>
      <div class="container-right">
        <div class="container-right-inner-one">
          <app-input-field [control]="roomInformation.controls.roomSize" name="Room size"></app-input-field>
          <p>Square meters</p>
        </div>
        <app-input-field [control]="roomInformation.controls.customRoomName"
                         name="Room name / Custom Room Name"></app-input-field>
        <p>Only for your preference</p>
      </div>
    </div>

    <div class="container-below-questions-area">
      <div class="container-below-questions">
        <div class="inner-question">
          <h4>How many people can stay in this room?</h4>
        </div>
        <div class="inner-answer">
          <app-input-field [control]="roomInformation.controls.noOfPeople"></app-input-field>
        </div>
      </div>
      <div class="container-below-questions">
        <div class="inner-question">
          <h4>Number of rooms you have from this type</h4>
        </div>
        <div class="inner-answer">
          <app-input-field [control]="roomInformation.controls.roomCountFromRoomType"></app-input-field>
        </div>
      </div>

    </div>
    <div class="container-below-radio">
      <h4>Smoking Policy</h4><br/>
      <mat-radio-group aria-label="Select an option" class="radio-input" formControlName="smokingPolicy">
        <mat-radio-button color="primary" value="allowed">Smoking is Allowed</mat-radio-button>
        <mat-radio-button color="primary" value="notAllowed">Smoking is Not Allowed</mat-radio-button>
        <mat-radio-button color="primary" value="both">Both Options are available</mat-radio-button>
      </mat-radio-group>
    </div>

  </app-content-box-fill>

  <app-content-box-border boxName="Beds">
    <div formArrayName="beds">
      <div *ngFor="let bed of bedForms.controls; let i=index" [formGroupName]="i" class="bed-info">
        <div class="bed-info-inner">
          <h4>Bed types available in this room</h4>
          <mat-form-field appearance="fill" class="input-field">
            <mat-select formControlName="bedType">
              <mat-option *ngFor="let bedType of bedTypes" [value]="bedType.value">
                {{bedType.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="bed-info-inner">
          <!--          <app-input-field [control]="roomInformation.controls.beds.controls" name="Number of Beds"></app-input-field>-->
          <div class="form-group">
            <h4 >Number of Beds</h4>
            <mat-form-field class="example-full-width" appearance="fill"  >
              <input matInput formControlName="bedCount">
            </mat-form-field>
          </div>

        </div>

        <div class="button-container">
          <button (click)="deleteBedInformation(i)" class="button" color="warn" mat-flat-button>Remove</button>
        </div>
      </div>
    </div>
    <div class="add-button-container">
      <button (click)="addBedInformation()" class="button" color="primary" mat-flat-button> + Add another bed</button>
    </div>
  </app-content-box-border>

  <app-content-box-border boxName="Other Details">
    <div class="other-details-container">
      <app-input-field [control]="roomInformation.controls.bedRoomCount" name="Number of Bed rooms"></app-input-field>
      <app-input-field [control]="roomInformation.controls.livingRoomCount"
                       name="Number of Living rooms"></app-input-field>
      <app-input-field [control]="roomInformation.controls.bathRoomCount" name="Number of Bath rooms"></app-input-field>
    </div>
  </app-content-box-border>

  <div class="price-container">
    <app-content-box-fill>
      <div class="price-container-inner">
        <p>Price per night</p>
        <app-input-field [control]="roomInformation.controls.pricePerNight"></app-input-field>
        <p>USD</p>
      </div>
    </app-content-box-fill>
  </div>
</form>

<div class="button-container">
  <button (click)="addRoomInformation()" class="button" color="primary" mat-flat-button>Continue</button>
</div>

