<app-status-bar-steps4></app-status-bar-steps4>
<div class="photo-container">
  <div class="photo-container-inner-description">
    <div class="name-area">
      <h1>Property Photos</h1>
    </div>
    <p>Add photos of your restaurant and take a step forward to attract new guests. Make sure to add quality photos at least the 1280 * 720p resolution. You can add up-to 8 photos.</p>
    <p>The photos you add here will displayed to the guests.  </p>
    <p class="condition">Upload at least one photo</p>
  </div>
  <div class="photo-container-inner" dropzone (hovered)="toggleHover($event)"  (dropped)="onDrop($event)">
    <div class="photo-container-inner-box" [class.hovering]="isHovering">
      <h3>Drag and Drop here <br> Or</h3>
      <div class="button-container">
        <button class="button" color="primary" mat-flat-button >Select from the computer</button>
      </div>
    </div>
  </div>
  <div class="photo-container-inner edit-area">
    <div class="photo-item" *ngFor="let file of files">
      <upload-task [file]="file" (readyUrl)="addPhoto($event)"  ></upload-task>
    </div>
    <!--    <div class="photo-item final-step"></div>-->
  </div>
</div>
<div class="button-container continue-button">
  <button class="button" color="primary" mat-flat-button (click)="addPhotosToRestaurant()">Continue</button>
</div>
