.activity-owner-profile-main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.body {
  flex-grow: 1;
  position: relative;
}

.restaurant-profile-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  border: 1px solid red;
  width: 100%;
}

