.container{
  height: 8rem;
  width: 8rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  box-shadow: 1px 3px 3px #bfbfbf;
  background-color: white;
  img{
    padding: 1.25rem ;
  }
  //hover
}
