<app-nav-bar></app-nav-bar>
<router-outlet></router-outlet>
<section class="hotel_secone">{{entertainmentDataSource.length}} activities found</section>
<section class="hotel_sectwo">

  <app-filter-by-budget></app-filter-by-budget>
  <app-filter-by-rating></app-filter-by-rating>
  <app-filter-by-entertainment-activity></app-filter-by-entertainment-activity>

  <button style="margin-top: 300px; margin-left: 1000px" type="submit" class="btn btn-primary"
          (click)="onSearchEntertainments()">
    Search
  </button>

  <div>
    <div class="row" *ngFor="let entertainment of entertainmentDataSource; index as i">
      <div class="row hotel_secfive">

        <ng-container
          *ngIf="entertainment && entertainment.entertainmentImageDTOList && entertainment.entertainmentImageDTOList.length > 0">
          <section class="image"><img src=" {{entertainment.entertainmentImageDTOList[0].imageURL}}"
                                      alt="restaurant image">
          </section>
        </ng-container>
        <section class="hotel_details"> <!--box to display entertainment details (1st act)-->
          <h2>{{entertainment.title}}</h2>

          <ng-container *ngIf="entertainment.starCategory !== 'NOT_RATED'">
            <section class="stars">
              <ng-container *ngIf="entertainment.starCategory === 'ONE'">
                <mat-icon>grade</mat-icon>
              </ng-container>
              <ng-container *ngIf="entertainment.starCategory === 'TWO'">
                <mat-icon>grade</mat-icon>
                <mat-icon>grade</mat-icon>
              </ng-container>
              <ng-container *ngIf="entertainment.starCategory === 'THREE'">
                <mat-icon>grade</mat-icon>
                <mat-icon>grade</mat-icon>
                <mat-icon>grade</mat-icon>
              </ng-container>
              <ng-container *ngIf="entertainment.starCategory === 'FOUR'">
                <mat-icon>grade</mat-icon>
                <mat-icon>grade</mat-icon>
                <mat-icon>grade</mat-icon>
                <mat-icon>grade</mat-icon>
              </ng-container>
              <ng-container *ngIf="entertainment.starCategory === 'FIVE'">
                <mat-icon>grade</mat-icon>
                <mat-icon>grade</mat-icon>
                <mat-icon>grade</mat-icon>
                <mat-icon>grade</mat-icon>
                <mat-icon>grade</mat-icon>
              </ng-container>
            </section>
          </ng-container>

          <p style="font-weight:bold;">By {{entertainment.owner}}</p>
          <p>{{entertainment.address}}</p>
          <p style="width: 500px">{{entertainment.mainDescription}}.</p>

          <p style="color:red;" *ngIf="entertainment.hasFreeCancellation === 'Y'">Free cancellation</p>

        </section>

        <section class="price_details">
          <p>{{entertainment.subDescription}}</p>
          <p style="font-weight:bold; font-size: 14px;">${{entertainment.price}}</p>
          <p>Tax and other charges included</p>

          <button type="submit"
                  class="btn btn-primary"
                  (click)="onBookEntertainment(entertainment)">
            Book
          </button>
        </section>

      </div>
    </div>
  </div>

  <section class="footer_two">
    <app-footer-two></app-footer-two>
  </section>

</section>
