<app-nav-bar></app-nav-bar>
<router-outlet></router-outlet>
<section class="hotel_secone">50 activities found</section>
<section class="hotel_sectwo">
  <app-filter-by-budget></app-filter-by-budget>
  <app-filter-by-rating></app-filter-by-rating>
  <app-filter-by-entertainment-activity></app-filter-by-entertainment-activity>
  <section class="hotel_secfive">
    <section class="image"><img src="assets/RosarioIsland.jpg" alt="hotel image"></section>

    <section class="hotel_details"> <!--box to display entertainment details (1st act)-->
      <h2>Full-Day Rosario Islands Including Barú, Cholon and Playa Blanca</h2>
      <section class="stars">
        <mat-icon>grade</mat-icon>
        <mat-icon>grade</mat-icon>
        <mat-icon>grade</mat-icon>
        <mat-icon>grade</mat-icon>
      </section>
      <p style="font-weight:bold;">By Backpackers</p>
      <p>Bolivar, Colombia</p>
      <p>Escape the busy streets of Cartagena with a full day on the Rosario Islands.<br/> Travel off the coast of Colombia via speedboat.</p>
      <p style="color:red;">Free cancellation</p>

    </section>

    <section class="price_details">
      <p>For 4 people</p>
      <p style="font-weight:bold; font-size: 14px;">$400</p>
      <p>Tax and other charges included</p>
    </section>
  </section>

  <section class="hotel_secfive" style="top:860px;">
    <section class="image"><img src="assets/cartegenaAtv.jpg" alt="hotel image"></section>

    <section class="hotel_details"> <!--box to display entertainment details (2nd act)-->
      <h2>Cartagena ATV Tour</h2>
      <section class="stars">
        <mat-icon>grade</mat-icon>
        <mat-icon>grade</mat-icon>
        <mat-icon>grade</mat-icon>
        <mat-icon>grade</mat-icon>
        <mat-icon>grade</mat-icon>
      </section>
      <p style="font-weight:bold;">By Cartagena ATV</p>
      <p>Via Manzanillo, Manzanillo del Mar, Provincia de Cartagena, Bolívar, Colombia</p>
      <p>Cartagena ATV operates this tour. This is the best land tour in all of Cartagena. <br/> Drive on 3 beaches, trails and dirt roads.</p>
      <p style="color:red;">Free cancellation</p>

    </section>

    <section class="price_details">
      <p>For 4 people</p>
      <p style="font-weight:bold; font-size: 14px;">$560</p>
      <p>Tax and other charges included</p>
    </section>
  </section>

  <section class="hotel_secfive" style="top:1130px;">
    <section class="image"><img src="assets/Guatape.jpg" alt="hotel image"></section>

    <section class="hotel_details"> <!--box to display entertainment details (3rd act)-->
      <h2>Full-Day Guatapé (Pueblo de Zocalos) from Medellín</h2>
      <section class="stars">
        <mat-icon>grade</mat-icon>
        <mat-icon>grade</mat-icon>
        <mat-icon>grade</mat-icon>
        <mat-icon>grade</mat-icon>
        <mat-icon>grade</mat-icon>
      </section>
      <p style="font-weight:bold;">By Tours Guatape</p>
      <p>Estadio 050034, Laureles, Antioquia, Colombia</p>
      <p>Eliminate the hassle of traveling independently from Medellín to Guatapé (Pueblo de Zocalos) <br/>and spectacular Peñol Rock (La Piedra del Peñol) on this stress-free, full-day tour. </p>
      <p style="color:red;">Free cancellation</p>

    </section>

    <section class="price_details">
      <p>For 4 people</p>
      <p style="font-weight:bold; font-size: 14px;">$600</p>
      <p>Tax and other charges included</p>
    </section>
  </section>
<section class="footer_two"><app-footer-two></app-footer-two></section>

</section>
