<section class="hotel_detail_box">
  <img src="assets/hotelHilton.jpg" alt="image">
  <section class="hotel_detail_inner">
    <h2>Hilton Columbia Center</h2>
    <section class="stars">
      <mat-icon>grade</mat-icon>
      <mat-icon>grade</mat-icon>
      <mat-icon>grade</mat-icon>
      <mat-icon>grade</mat-icon>
    </section>
    <p>924 Senate St, Columbia, South Carolina</p>
    <p>Good | <a href="">101 reviews</a></p>
    <section class="hotel_detail_facilities">
        <section class="facility_type">
          <mat-icon>network_wifi</mat-icon> &nbsp; &nbsp;
          <div class="facility_label" style="left:-5px; position:relative;">Free wifi</div>
        </section>

      <section class="facility_type2">
        <mat-icon>apartment</mat-icon> &nbsp; &nbsp;
        <div class="facility_label" style="left:-5px; position:relative;">City view</div>
      </section>

      <section class="facility_type3">
        <mat-icon>ac_unit</mat-icon> &nbsp; &nbsp;
        <div class="facility_label" style="left:-5px; position:relative;">Air conditioning</div>
      </section>

    </section>
  </section>
</section>
