<div class="nav-bar-div">
  <div class="nav-bar">
    <div class="nav-bar-inner">
      <div class="nav-bar-inner-top">
        <div class="logo">
          <app-relaxwiki-logo></app-relaxwiki-logo>
        </div>
        <div class="signup-outer">
          <div class="list-properties">
            <input type="button" class="list-properties-button" value="List Your Properties">
          </div>
          <div class="signup">
            <input type="button" class="signup-button" value="Sign Up">
          </div>
          <div class="login">
            <input type="button" class="Login-button" value="Log In">
          </div>
          <div class="signup-block-img">
            <img src="assets/Images/user%20(1).png" alt="user">
          </div>
          <div class="other-img">
            <img src="assets/Images/icons8-menu-rounded-50.png" alt="menu">
          </div>
          <div class="signup-block">
            <ul class="div-signup-block-ul">
              <li>Sign Up</li>
              <li>Log In</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="nav-bar-inner-bottom-outer">
        <div class="nav-bar-inner-bottom-outer-inner">
          <div class="hotel" [routerLink]="['/hotel-management/hotel-default']" routerLinkActive="active">
            <div class="icon1"><img src="assets/Images/apartment_FILL0_wght400_GRAD0_opsz48.svg" alt="hotel"></div>
            <div class="icon-text1"><p class="p1">Hotel</p></div>
          </div>

          <div class="resturent" [routerLink]="['/restaurant-management/restaurant-default']" routerLinkActive="active">
            <div class="icon2"><img src="assets/Images/local_dining_FILL0_wght400_GRAD0_opsz48.svg" alt="resturent">
            </div>
            <div class="icon-text2"><p class="p1">Restaurant</p></div>
          </div>
          <div class="entertainment" [routerLink]="['/entertainment-management/entertainment-default']"
               routerLinkActive="active">
            <div class="icon3"><img src="assets/Images/hiking_FILL0_wght400_GRAD0_opsz48.svg" alt="entertainment"></div>
            <div class="icon-text3"><p class="p1">Entertainment</p></div>
          </div>
          <div class="carrental">
            <div class="icon4"><img src="assets/Images/directions_car_FILL0_wght400_GRAD0_opsz48.svg" alt="car rental">
            </div>
            <div class="icon-text4"><p class="p1">Car Rental</p></div>
          </div>
<!--          <div class="airport">-->
<!--            <div class="icon5"><img src="assets/Images/flight_FILL0_wght400_GRAD0_opsz48.svg" alt="airport taxi"></div>-->
<!--            <div class="icon-text5"><p class="p1">Airport Taxi</p></div>-->
<!--          </div>-->


        </div>
      </div>
    </div>
  </div>
</div>
<div class="top-wrap">

  <div class="chat-icon-outer">
    <div class="chat-icon">
      <app-chat-icon></app-chat-icon>
    </div>
  </div >

  <div class="top-wrap-inner col-md-10">
    <div class="heading-wrap col-md-10">
      <h1>Discover your life with Travel Where You want.</h1>
    </div>
    <div class="Text-wrap col-md-10">
      <p>let your spirits soar as you chase the horizon and dance with the unknown.
        Adventure awaits. Embrace it. Explore. From the snow-capped peaks of the Himalayas
        to the sun-kissed beaches of the Maldives, the world is a treasure trove of extraordinary
        travel destinations. </p>
    </div>
  </div>
</div>
<div class="second-wrap">
  <div class="second-wrap-inner">
    <div class="second-wrap-inner-recently-viewed">
      <div class="recently-viewed-one">
        <hr>
      </div>
      <div class="recently-viewed-two">
        <p>Recently Viewed</p>
      </div>
      <div class="recently-viewed-three">
        <hr>
      </div>
    </div>
    <div class="second-wrap-inner-bottom">
      <div class="second-wrap-inner-bottom-first">
        <div class="second-wrap-inner-first-option" >
          <div class="option-photo">
            <img src="assets/Images/pexels-pixabay-259463.jpg" alt="">
            <div class="option-content">
              <div class="option-content-place-name">
                <h4>Hilton Hotel Colombo</h4>
              </div>
              <div class="option-content-description" >
                <p>is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever
                  industry's standard dummy text ever </p>
                <!--                maximum word count that can be displayed is 25 words. other words will display when you hover read more-->
              </div>
              <div class="option-content-view-more">
                <p mat-raised-button
                   class="option-content-view-more-button"
                   matTooltip="is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever industry's
                        standard dummy text ever  is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                        unknown printer took a galley of type and scrambled it to make a type specimen book.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                        unknown printer took a galley of type and scrambled it to make a type specimen book."
                   matTooltipPosition="right"
                   aria-label="Button that displays a tooltip in various positions">
                  view more...
                </p>

              </div>
            </div>
          </div>
        </div>
        <div class="second-wrap-inner-second-option">
          <div class="option-photo">
            <img src="assets/Images/pexels-aliona-&-pasha-3892273.jpg" alt="">
            <div class="option-content">
              <div class="option-content-place-name">
                <h4>Taj Hotel Colombo</h4>
              </div>
              <div class="option-content-description">
                <p>is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever
                  industry's standard dummy text ever </p>
                <!--                maximum word count that can be displayed is 25 words. other words will display when you hover read more-->
              </div>
              <div class="option-content-view-more">
                <p mat-raised-button
                   class="option-content-view-more-button"
                   matTooltip="is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever industry's
                        standard dummy text ever  is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                        unknown printer took a galley of type and scrambled it to make a type specimen book.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                        unknown printer took a galley of type and scrambled it to make a type specimen book."
                   matTooltipPosition="right"
                   aria-label="Button that displays a tooltip in various positions">
                  view more...
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="second-wrap-inner-bottom-second">
        <div class="second-wrap-inner-third-option">
          <div class="option-photo">
            <img src="assets/Images/pexels-aleksandar-pasaric-2848492.jpg" alt="">
            <div class="option-content">
              <div class="option-content-place-name">
                <h4>Galleface Beach Hotel Colombo</h4>
              </div>
              <div class="option-content-description">
                <p>is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever
                  industry's standard dummy text ever </p>
                <!--                maximum word count that can be displayed is 25 words. other words will display when you hover read more-->
              </div>
              <div class="option-content-view-more">
                <p mat-raised-button
                   class="option-content-view-more-button"
                   matTooltip="is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever industry's
                        standard dummy text ever  is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                        unknown printer took a galley of type and scrambled it to make a type specimen book.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                        unknown printer took a galley of type and scrambled it to make a type specimen book."
                   matTooltipPosition="right"
                   aria-label="Button that displays a tooltip in various positions">
                  view more...
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="second-wrap-inner-forth-option">
          <div class="option-photo">
            <img src="assets/Images/pexels-pixabay-533973.jpg" alt="">
            <div class="option-content">
              <div class="option-content-place-name">
                <h4>Cinnamon Grand Hotel Colombo</h4>
              </div>
              <div class="option-content-description">
                <p>is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever
                  industry's standard dummy text ever </p>
                <!--                maximum word count that can be displayed is 25 words. other words will display when you hover read more-->
              </div>
              <div class="option-content-view-more">
                <p mat-raised-button
                   class="option-content-view-more-button"
                   matTooltip="is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever industry's
                        standard dummy text ever  is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                        unknown printer took a galley of type and scrambled it to make a type specimen book.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                        unknown printer took a galley of type and scrambled it to make a type specimen book."
                   matTooltipPosition="right"
                   aria-label="Button that displays a tooltip in various positions">
                  view more...
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="third-wrap">
  <div class="third-rap-inner">
    <!--  same heading. so i got as the same class-->
    <div class="second-wrap-inner-recently-viewed">
      <div class="recently-viewed-one">
        <hr>
      </div>
      <div class="recently-viewed-two">
        <p>Special Offers</p>
      </div>
      <div class="recently-viewed-three">
        <hr>
      </div>
    </div>
    <div class="third-wrap-inner-bottom">
      <div class="third-wrap-inner-bottom-first">
        <app-offers></app-offers>
      </div>
      <div class="third-wrap-inner-bottom-second">
        <app-offers></app-offers>
      </div>
    </div>


  </div>
</div>
<div class="forth-wrap">
  <div class="forth-wrap-inner">
    <div class="second-wrap-inner-recently-viewed">
      <div class="recently-viewed-one">
        <hr>
      </div>
      <div class="recently-viewed-two">
        <p>Most Popular</p>
      </div>
      <div class="recently-viewed-three">
        <hr>
      </div>
    </div>
    <div class="forth-wrap-inner-bottom">
      <div class="card col-sm-2">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top" alt="Sunset Over the Sea"/>
        <div class="card-body">
          <p class="card-title">Hilton Hotel</p>
          <p class="card-text">Hilton, Colombo 07</p>
        </div>
      </div>
      <div class="card col-sm-2">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top" alt="Sunset Over the Sea"/>
        <div class="card-body">
          <p class="card-title">Hilton Hotel</p>
          <p class="card-text">Hilton, Colombo 07</p>
        </div>
      </div>
      <div class="card col-sm-2">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top" alt="Sunset Over the Sea"/>
        <div class="card-body">
          <p class="card-title">Hilton Hotel</p>
          <p class="card-text">Hilton, Colombo 07</p>
        </div>
      </div>
      <div class="card col-sm-2">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top" alt="Sunset Over the Sea"/>
        <div class="card-body">
          <p class="card-title">Hilton Hotel</p>
          <p class="card-text">Hilton, Colombo 07</p>
        </div>
      </div>
      <div class="card col-sm-2">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top" alt="Sunset Over the Sea"/>
        <div class="card-body">
          <p class="card-title">Hilton Hotel</p>
          <p class="card-text">Hilton, Colombo 07</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fifth-wrap">
<!--  <div class="fifth-wrap-inner">-->
<!--     <div class="col-lg-6"></div>-->
<!--     <div class="col-md-12"></div>-->
<!--     <div class="col-sm-3"></div>-->
<!--  </div>-->
</div>
<div class="sixth-wrap">
  <div class="sixth-wrap-advertisement">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="assets/Images/pexels-aleksandar-pasaric-2848492.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="assets/Images/pexels-aliona-&-pasha-3892273.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="assets/Images/pexels-ahmed-abdelaziz-453201.jpg" alt="Third slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>
