<div class="footer-two-main">
  <div class="footer-inner-sub">
    <div class="footer-inner-sub-inner-1">
      <div class="footer-inner-sub-inner-1-sub">
        <div class="social-media-icon"><img src="assets/Images/instagram.png" alt="instagram"></div>
        <div class="social-media-icon"><img src="assets/Images/youtube.png" alt="youtube"></div>
        <div class="social-media-icon"><img src="assets/Images/twitter.png" alt="twitter"></div>
        <div class="social-media-icon"><img src="assets/Images/facebook.png" alt="facebook"></div>
        <div class="social-media-icon"><img src="assets/Images/pinterest.png" alt="pinterest"></div>
      </div>
    </div>
    <div class="footer-inner-sub-inner-2">
      <div class="register-icons"><img src="assets/Images/copyright.png" alt="copywright" class=""></div>
      <p>Relaxwiki.com.All right reserved</p>
    </div>
  </div>
</div>
