<section class="hotel_detail_box">
  <section class="inner">
    <table>
      <thead>
      <tr>
        <th class="numof_people" colspan="5">Hotel Room Type Details</th>
      </tr>
      <tr>
        <th>Room type</th>
        <th>Facilities</th>
        <th>Price</th>
      </tr>
      </thead>
      <ng-container *ngIf="selectedHotelRoomTypeDataForBooking != null">
        <tbody>
        <tr class="big-row">
          <td>{{selectedHotelRoomTypeDataForBooking.mainDescription}}
            <br/><br/>({{selectedHotelRoomTypeDataForBooking.subDescription}})
          </td>
          <td>
            <ul>
              <ng-container
                *ngIf="selectedHotelRoomTypeDataForBooking.hotelRoomTypeFacilities && selectedHotelRoomTypeDataForBooking.hotelRoomTypeFacilities.length > 0">
                <li
                  *ngFor="let hotelRoomTypeFacility of selectedHotelRoomTypeDataForBooking.hotelRoomTypeFacilities">{{hotelRoomTypeFacility.description}}</li>
              </ng-container>
            </ul>
          </td>
          <td class="price"><b>${{selectedHotelRoomTypeDataForBooking.price}}</b></td>
        </tr>
        </tbody>
      </ng-container>
    </table>
  </section>
</section>
