<section class="hotel_detail_box">
  <section class="inner">
    <section class="checkin">
      <div>Check-in</div><br/>
      <div>Sat, 14.01.2023</div>
    </section>

    <div class="vl"></div>

    <section class="checkout">
      <div>Check-out</div><br/>
      <div>Mon, 16.01.2023</div>
    </section>

    <div class="v2"></div>

    <section class="rooms">
      <div>Selected rooms</div><br/>
      <div>2 x Standard Double Room</div>
    </section>

    <div class="v3"></div>

    <section class="people">
      <div>Num of people</div><br/>
      <div>4</div>
    </section>


</section>
</section>
