<app-status-bar [currentStep]="2" [totalSteps]="7"></app-status-bar>
<div class="name-area">
  <h1>Facilities and Services you provide</h1>
</div>
<form [formGroup]="hotelFacilityForm">
  <app-form-selection-box titleName="Facilities">
    <div class="facility-inner">
      <mat-checkbox class="checkbox" *ngFor="let facility of Facility; let i=index" [value]="facility.value" (change)="addToArray($event,'facility')">
        {{ facility.name }}
      </mat-checkbox>
    </div>
    <mat-hint>
      <span style="color: red" *ngIf="facilities &&facilities.errors?.['required']">
        Add at least one facility
      </span>
    </mat-hint>
  </app-form-selection-box>

  <app-form-selection-box titleName="Services">
    <div class="facility-inner">
      <mat-checkbox class="checkbox" *ngFor="let service of Service; let i=index" [value]="service.value" (change)="addToArray($event,'services')">
        {{ service.name }}
      </mat-checkbox>
    </div>
    <mat-hint>
      <span style="color: red" *ngIf="services &&services.errors?.['required']">
        Add at least one service
      </span>
    </mat-hint>
  </app-form-selection-box>

  <app-form-selection-box titleName="Languages Spoken">
    <mat-form-field appearance="fill" class="languages-inner">
      <mat-select formControlName="languageControl" multiple placeholder="Languages">
        <mat-option *ngFor="let language of languageOptions" [value]="language">{{language}}</mat-option>
      </mat-select>
    </mat-form-field>
  </app-form-selection-box>


  <div class="button-container">
    <button [disabled]="facilities.invalid" (click)="submitForm()" class="button" color="primary" mat-flat-button>Continue</button>
  </div>

</form>
