<section class="hotel_secthree">
  <p class="topic_secthree">Filter by budget</p>
  <section class="checks_secthree">
    <mat-radio-group [(ngModel)]="budget">

      <mat-radio-button (click)="onClickRadio($event, 'ONE')">
        $0-$50
      </mat-radio-button>
      <br>

      <mat-radio-button (click)="onClickRadio($event, 'TWO')">
        $50-$100
      </mat-radio-button>
      <br>

      <mat-radio-button (click)="onClickRadio($event, 'THREE')">
        $100-$150
      </mat-radio-button>
      <br>

      <mat-radio-button (click)="onClickRadio($event, 'FOUR')">
        $150-$200
      </mat-radio-button>
      <br>

      <mat-radio-button (click)="onClickRadio($event, 'FIVE')">
        $200-$250
      </mat-radio-button>
      <br>

      <mat-radio-button (click)="onClickRadio($event, 'SIX')">
        $250+
      </mat-radio-button>
      <br>

    </mat-radio-group>
  </section>
</section>
