<section class="hotel_secthree">
  <p class="topic_secthree">Filter by budget</p>
  <section class="checks_secthree">
    <mat-checkbox class="example-margin">$0-$50</mat-checkbox><br>
    <mat-checkbox class="example-margin" style="top:30px; position:absolute;">$50-$100</mat-checkbox><br>
    <mat-checkbox class="example-margin" style="top:60px; position:absolute;">$100-$150</mat-checkbox>
    <mat-checkbox class="example-margin" style="top:90px; position:absolute;">$150-$200</mat-checkbox>
    <mat-checkbox class="example-margin" style="top:120px; position:absolute;">$200-$250</mat-checkbox>
    <mat-checkbox class="example-margin" style="top:150px; position:absolute;">$250+</mat-checkbox>
  </section>
</section>
