.message-container{
  max-width: 800px;
  width:100%;
  padding: 1rem;
  border-radius: 5px;
  margin: 3.4rem auto;
  text-align: center;

  img{
    width: 190px;
    height: 120px;
    margin: 1rem;
  }
}
.button-container{
  display: flex;
  justify-content: center;
  max-width: 400px;
  margin: 1rem auto;
  .button{

  }
}
