.chip-list-accent {
  background-color: white;
}

.mat-chip-selected {
  background-color: white;
  color: white;
}
.example-chip-list{
  width: 100%;
  background-color: white;
}
.mat-form-field-underline {
  display: none;
}
mat-chip-list{
  background-color: white;
}

