
<div class="statusBarContainer">
  <div class="statusBarLine"></div>
  <div class="statusBarLine doneStatusBarLine" style="width:16.67%"></div>
  <div class="ball doneBall"><span>1</span></div>
  <div class="ball activeBall "><span>2</span></div>
  <div class="ball "><span>3</span></div>
</div>

<h1>Booking Summary</h1>

<app-booking-summary-box1></app-booking-summary-box1>

<section class="box2"><app-booking-summary-box2></app-booking-summary-box2></section>

<section class="box3"><app-booking-summary-box3></app-booking-summary-box3></section>

<h2>Payment Summary</h2>








