<div class="message-container">
  <h1>Congratulations Gihara !!!</h1>
  <h2>Your hotel listing is successfully submitted.</h2>
  <img src="../../../../../../../../assets/Images/hotel-successful.png">
  <p>We review requests to ensure that all content complies with regulations and formatting specifications so that travelers can benefit from the most accurate listing information.
    When your request is completed, we'll let you access the console.</p>
  <p>Would you like continue listing?</p>

  <div class="button-container">
    <button class="button" color="primary" mat-flat-button>Yes, Add new listing</button>
  </div>
  <div class="button-container">
    <button class="button" color="primary" mat-flat-button>No</button>
  </div>

</div>
