.content-box{
  max-width: 800px;
  width:100%;
  padding: 2rem 2rem;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 1px 3px 3px #bfbfbf;
  margin: 2rem auto;
}
.legend{
  font-size: 1rem;
  margin: 0;
}
