<!-- header -->
<div>
  <app-nav-bar-two></app-nav-bar-two>
</div>

<!-- body -->
<div class="mid-main-wrap2">
  <div class="left-failed">
    <img src="../../../../../../../assets/Images/failedPaymentmen.PNG" alt="success" class="failed-img">
  </div>

  <div class="right-failed">
    <div class="right-content-main">

      <div class="right-content">
        <div class="right-content-upper">
          <div class="failed-error">
            <img src="../../../../../../../assets/Images/error.PNG" alt="payment-failed-error" class="failed-error-img">
          </div>

          <div class="failed-upper-text">
            <div class="failed-text">
              Transaction Failed!
            </div>
          </div>

          <div class="right-bottom-text-main">

            <!--have to link with the dashboard-->
            <div class="button-outer">

                <input type="button" class="button" value="Continue to Dashboard" onclick="">

            </div>
          </div>
        </div>



      </div>

    </div>

  </div>
</div>

<!-- footer -->
<div>
  <app-footer-two></app-footer-two>
</div>
