<app-nav-bar></app-nav-bar>

<div>
  <div class="header-text">
    Choose Taxi Type as You Prefer!
  </div>
</div>

<div class="list-main">
  <div class="list-row">
    <!--nano-->
    <div class="column" *ngFor="let vehical of dataList">
      <div class="box-main" (click)="goToPage('/taxi-rental-management/taxi-list-by-category/' + vehical.id)">
        <div class="box-content">
          <div class="box-content-text">
            {{ vehical.name }}
          </div>
        </div>
        <div class="photo-content">
          <img src="http://localhost:8080/files/taxiCategory/{{vehical.image }}" alt="nano car" class="images">
        </div>
        <div class="photo-description">
          <br> Base Fare (for 3km) - ${{ vehical.baseFair }} <br><br>
          Waiting Fare Per Minute ${{ vehical.waitingFair }} <br><br>
          Per km ${{ vehical.fairPerKm }} <br><br>
        </div>
      </div>
    </div>
  </div>
</div>

<!--footer-->
<app-footer-two></app-footer-two>