<div class="offers">
  <div class="offers-title">
    <h5>Family Offer</h5>
  </div>
  <div class="offers-description">
    <p>is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever industry's
      standard dummy text ever  is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
      unknown printer took a galley of type and scrambled ecimen book.</p>
  </div>
  <div class="offers-discover-button">
    <button class="offers-discover-button-class">
      Discover weekly status
    </button>
  </div>
</div>
