<div class="offers">
  <div class="offers-title">
    <h5>Family Offer</h5>
  </div>
  <div class="offers-description">
    <p>is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever industry's
      standard dummy text ever  is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
      unknown printer took a galley of type and scrambled ecimen book.</p>
  </div>
<!--  <div class="offers-discover-button">-->
<!--    <button class="offers-discover-button-class">-->
<!--      Discover weekly status-->
<!--    </button>-->
<!--  </div>-->
</div>

<!--<p>Unforgettable Family Fun Day: 20% Discount, Meals, and Pool!-->
<!--  Treat your family to an exciting day out with a 20% discount. -->
<!--  Enjoy breakfast, lunch, dinner, and tea while making a splash in our pool. -->
<!--  Create lasting memories with your loved ones in a day filled with -->
<!--  laughter and relaxation. Book now for an unforgettable family adventure!-->

<!--</p>-->

<!--<p>-->
<!--  Romantic Getaway for Two: Love, Luxury, and Pool!-->
<!--  Escape and indulge with our couple offer. Enjoy a -->
<!--  cozy bedroom, buffet lunch, dinner, and tea. Dive into the-->
<!--  pool together. For every $100 spent, relish a free red velvet-->
<!--  love cake and a bottle of wine. Book now for a memorable -->
<!--  romantic escape!-->
<!--</p>-->
