.name-area{
  text-align: center;
  p{
    margin: 0;
  }
}
.info-inner{
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  padding: 0 2rem;
  gap: 1rem;
  .checkbox{
    margin: 0 2rem;
  }
}
.required::after{
  content: " *";
  color: red;
  font-size: 20px;
}
.button-container{
  display: flex;
  justify-content: center;
  max-width: 400px;
  margin: 2rem auto;
  .button{
    width: 100%;
  }
}
