<section class="hotel_secthree">
  <p class="topic_secthree">Filter by entertainment activity</p>
  <section class="checks_secthree">
    <mat-checkbox class="example-margin" (change)="onClickEntertainmentActivity($event, 'ADVENTURE')">
      Adventure
    </mat-checkbox><br>
    <mat-checkbox class="example-margin" style="top:30px; position:absolute;" (change)="onClickEntertainmentActivity($event, 'SPORTS')">
      Sports
    </mat-checkbox><br>
    <mat-checkbox class="example-margin" style="top:60px; position:absolute;" (change)="onClickEntertainmentActivity($event, 'ATTRACTION')">
      Attraction
    </mat-checkbox>
  </section>
</section>
