<app-nav-bar-two></app-nav-bar-two>
<router-outlet></router-outlet>
<div class="content-area">
  <div class="image">
    <img src="../../../../../assets/Images/signup-complete.png">
  </div>
  <div class="message-area">
    <h3>Sign Up completed. Please verify your email to continue. </h3>
    <button mat-flat-button color="primary" (click)="goTo()" >I have verified</button>
    <h4>Did not receive the verification link? <button mat-flat-button color="primary" (click)="resend()">Resend link</button></h4>
    <h4 *ngIf="sent">{{sent}}</h4>
  </div>
</div>
