<app-nav-bar></app-nav-bar>
<router-outlet></router-outlet>
<section class="hotel_secone">{{restaurantDataSource.length}} restaurants found</section>
<section class="hotel_sectwo">
  <app-filter-by-rating></app-filter-by-rating>

  <section class="button" style="margin-left: -20px; margin-top: -10px;"><button style="margin-top: 300px; margin-left: 400px" type="submit" class="btn btn-primary"
          (click)="onSearchRestaurants()">
    Search
  </button></section>

  <div>
    <div class="row" *ngFor="let restaurant of restaurantDataSource; index as i">
      <div class="row hotel_secfive">

        <ng-container
          *ngIf="restaurant && restaurant.restaurantImageDTOList && restaurant.restaurantImageDTOList.length > 0">
          <section class="image"><img src=" {{restaurant.restaurantImageDTOList[0].imageURL}}" alt="restaurant image">
          </section>
        </ng-container>

        <section class="hotel_details"> <!--box to display restaurant details (1st restaurant)-->
          <h2 (click)="onClickRestaurants($event, restaurant)">{{restaurant.restaurantName}}</h2>
          <ng-container *ngIf="restaurant.starCategory !== 'NOT_RATED'">
            <section class="stars">
              <ng-container *ngIf="restaurant.starCategory === 'ONE'">
                <mat-icon>grade</mat-icon>
              </ng-container>
              <ng-container *ngIf="restaurant.starCategory === 'TWO'">
                <mat-icon>grade</mat-icon>
                <mat-icon>grade</mat-icon>
              </ng-container>
              <ng-container *ngIf="restaurant.starCategory === 'THREE'">
                <mat-icon>grade</mat-icon>
                <mat-icon>grade</mat-icon>
                <mat-icon>grade</mat-icon>
              </ng-container>
              <ng-container *ngIf="restaurant.starCategory === 'FOUR'">
                <mat-icon>grade</mat-icon>
                <mat-icon>grade</mat-icon>
                <mat-icon>grade</mat-icon>
                <mat-icon>grade</mat-icon>
              </ng-container>
              <ng-container *ngIf="restaurant.starCategory === 'FIVE'">
                <mat-icon>grade</mat-icon>
                <mat-icon>grade</mat-icon>
                <mat-icon>grade</mat-icon>
                <mat-icon>grade</mat-icon>
                <mat-icon>grade</mat-icon>
              </ng-container>
            </section>
          </ng-container>

          <p>{{restaurant.address}}</p>
          <p>{{ restaurantCondition[restaurant.restaurantCondition] }} | <a
            href="">{{restaurant.restaurantReviewDTOList.length}} reviews</a></p>
          <p style="font-weight:bold;">
            <ng-container *ngFor="let foodCategory of restaurant.restaurantFoodCategoryDTOList">
              <span>{{foodCategory.mainDescription}} | </span>
            </ng-container>
          </p>
          <p><a (click)="onMenuClick($event, restaurant)">View menu</a></p>

          <p style="color:red;" *ngIf="restaurant.hasFreeCancellation === 'Y'">Free cancellation</p>

        </section>

      </div>
    </div>
  </div>
</section>
<section class="footer_two">
  <app-footer-two></app-footer-two>
</section>

