<div class="chat-wrap-main col-lg-12">
  <div class="chat-wrap-inner-top col-lg-12">
    <div class="relax-wiki-logo">
      <app-relaxwiki-logo></app-relaxwiki-logo>
    </div>
    <div class="close-button">
      <button>
        <mat-icon mat-dialog-close="true">close</mat-icon>
      </button>
    </div>
  </div>
  <div class="chat-wrap-inner-bottom col-lg-12">
    <div class="chat-wrap-inner-bottom-left col-lg-5 col-md-5 col-sm-5"></div>
    <div class="chat-wrap-inner-bottom-right col-lg-7 col-md-7 col-sm-7"></div>
  </div>
</div>
