<router-outlet></router-outlet>
<section class="head_details">
  <h1 style="font-weight:bold;">DiPrato's</h1>
  <section class="stars">
    <mat-icon>grade</mat-icon>
    <mat-icon>grade</mat-icon>
    <mat-icon>grade</mat-icon>
    <mat-icon>grade</mat-icon>
    &nbsp; &nbsp; &nbsp;
    <section class="address">342 Pickens St, Columbia, SC 29205, United States</section>
  </section>

</section>

<section class="gallery">
  <img src="../../../../../../../../assets/DiPrato1.jpg" alt="image1">
  <img src="../../../../../../../../assets/DiPrato2.jpg" alt="image2">
  <img src="../../../../../../../../assets/DiPrato3.jpg" alt="image3">
  <img src="../../../../../../../../assets/DiPrato4.jpg" alt="image4"><br/>
  <img src="../../../../../../../../assets/DiPrato5.jpg" alt="image5">
  <img src="../../../../../../../../assets/DiPrato6.jpg" alt="image6">

</section>

<section class="menu_box">
  <a href="">View menu</a>
</section>

<section class="detail_box">
  <section class="inner_details">
  <section class="topic"><h2>Restaurant Details</h2></section>
    <section class="inner_details2">
    <section class="cuisines">
      <p style="font-weight: bold">Cuisines</p>
      <p>American, Cafe</p>
    </section>

    <section class="special_diets">
      <p style="font-weight: bold">Special diets</p>
      <p>Vegetarian Friendly, Vegan Options, Gluten Free Options</p>
    </section>

    <section class="meals">
      <p style="font-weight: bold">Meals</p>
      <p>Breakfast, Lunch, Brunch</p>
    </section>

        <section class="reviews">
        <a href="">Go to Reviews</a>
        </section>


  </section>
  </section>
</section>

