<router-outlet></router-outlet>
<section class="head_details">
  <h1 style="font-weight:bold;">{{restaurantDto.restaurantName}}</h1>

  <section class="stars">
    <ng-container *ngIf="restaurantDto.starCategory !== 'NOT_RATED'">
      <section class="stars">
        <ng-container *ngIf="restaurantDto.starCategory === 'ONE'">
          <mat-icon>grade</mat-icon>
        </ng-container>
        <ng-container *ngIf="restaurantDto.starCategory === 'TWO'">
          <mat-icon>grade</mat-icon>
          <mat-icon>grade</mat-icon>
        </ng-container>
        <ng-container *ngIf="restaurantDto.starCategory === 'THREE'">
          <mat-icon>grade</mat-icon>
          <mat-icon>grade</mat-icon>
          <mat-icon>grade</mat-icon>
        </ng-container>
        <ng-container *ngIf="restaurantDto.starCategory === 'FOUR'">
          <mat-icon>grade</mat-icon>
          <mat-icon>grade</mat-icon>
          <mat-icon>grade</mat-icon>
          <mat-icon>grade</mat-icon>
        </ng-container>
        <ng-container *ngIf="restaurantDto.starCategory === 'FIVE'">
          <mat-icon>grade</mat-icon>
          <mat-icon>grade</mat-icon>
          <mat-icon>grade</mat-icon>
          <mat-icon>grade</mat-icon>
          <mat-icon>grade</mat-icon>
        </ng-container>
      </section>
    </ng-container>
    <section class="address" style="margin-left: 10px">{{restaurantDto.address}}</section>

    <section class="menu_box">
      <a (click)="onMenuClick($event)">View menu</a>
    </section>
    <section class="menu_box">
      <a (click)="viewReviews($event)">Go to Review</a>
    </section>
  </section>

</section>

<section class="gallery">
  <ng-container
    *ngIf="restaurantDto && restaurantDto.restaurantImageDTOList && restaurantDto.restaurantImageDTOList.length > 0">
    <ng-container *ngFor="let restaurant of restaurantDto.restaurantImageDTOList">
      <img src="{{restaurant.imageURL}}" alt="image1">
    </ng-container>
  </ng-container>
</section>

<!--<section class="detail_box">-->
<!--  <section class="inner_details">-->
<!--    <section class="topic"><h2>Restaurant Details</h2></section>-->
<!--    <section class="inner_details2">-->

<!--      <ng-container *ngFor="let foodCategory of restaurantDto.restaurantFoodCategoryDTOList">-->
<!--        <section class="cuisines">-->
<!--          <h3 style="font-weight: bold">{{foodCategory.mainDescription}}</h3>-->
<!--          <ng-container *ngFor="let food of foodCategory.foodDTOList">-->
<!--            <p>{{food.description}}</p>-->
<!--          </ng-container>-->
<!--        </section>-->
<!--      </ng-container>-->

<!--      <section class="reviews">-->
<!--        <a (click)="viewReviews($event)">Go to Reviews</a>-->
<!--      </section>-->


<!--    </section>-->
<!--  </section>-->
<!--</section>-->

<section class="room_table">
  <table>
    <thead>
    <tr>
      <th class="numof_people" colspan="5">Restaurant Details</th>
    </tr>
    <tr>
      <th>Food Category</th>
      <th>Items</th>
    </tr>
    </thead>
    <ng-container
      *ngIf="restaurantDto && restaurantDto.restaurantFoodCategoryDTOList && restaurantDto.restaurantFoodCategoryDTOList.length > 0">
      <tbody>
      <tr class="big-row" *ngFor="let restaurantFoodCategory of restaurantDto.restaurantFoodCategoryDTOList">
        <td>{{restaurantFoodCategory.mainDescription}}</td>
        <td>
          <ul>
            <ng-container
              *ngIf="restaurantFoodCategory.foodDTOList && restaurantFoodCategory.foodDTOList.length > 0">
              <li
                *ngFor="let category of restaurantFoodCategory.foodDTOList">{{category.description}}</li>
            </ng-container>
          </ul>
        </td>
      </tr>
      </tbody>
    </ng-container>
  </table>
</section>

