<section class="hotel_secfour">
  <p class="topic_secthree">Filter by rating</p>
  <section class="checks_secthree">
    <mat-checkbox class="example-margin"
                  (change)="onClickRatingLevel($event, 'ONE')">
      1 star
    </mat-checkbox>
    <br>
    <mat-checkbox class="example-margin" style="top:30px; position:absolute;"
                  (change)="onClickRatingLevel($event, 'TWO')">
      2 star
    </mat-checkbox>
    <mat-checkbox class="example-margin" style="top:60px; position:absolute;"
                  (change)="onClickRatingLevel($event, 'THREE')">
      3 star
    </mat-checkbox>
    <mat-checkbox class="example-margin" style="top:90px; position:absolute;"
                  (change)="onClickRatingLevel($event, 'FOUR')">
      4 star
    </mat-checkbox>
    <mat-checkbox class="example-margin" style="top:120px; position:absolute;"
                  (change)="onClickRatingLevel($event, 'FIVE')">
      5 star
    </mat-checkbox>
    <mat-checkbox class="example-margin" style="top:150px; position:absolute;"
                  (change)="onClickRatingLevel($event, 'NOT_RATED')">
      Not rated
    </mat-checkbox>
  </section>

</section>
