<div class="container">
  <div class="header">
    <h1>Select the Category</h1>
  </div>
  <div class="category-container">
    <app-hotel-category-container-box
      imgSrc="../../../../../../../../assets/Images/hotel-category-inner.png"
      innerTitle="Hotels" description="Accommodation and facilities that offers short-term, paid lodging for travelers and tourists."
      imageUrl="../../../../../../../../assets/Images/hotel-category-outer.png">
    </app-hotel-category-container-box>

    <app-hotel-category-container-box
      imgSrc="../../../../../../../../assets/Images/resort-category-inner.png"
      innerTitle="Resorts" description="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum ha."
      imageUrl="../../../../../../../../assets/Images/resort-category-outer.png">
    </app-hotel-category-container-box>

    <app-hotel-category-container-box
      imgSrc="../../../../../../../../assets/Images/cabanas-category-inner.png"
      innerTitle="Resorts" description="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum ha."
      imageUrl="../../../../../../../../assets/Images/cabanas-category-outer.png">
    </app-hotel-category-container-box>

  </div>
</div>

