<!-- header -->
<div>
  <app-nav-bar-two></app-nav-bar-two>
</div>

<!-- body -->
<div class="mid-main-wrap2">
  <div class="left-success">
    <img src="../../../../../assets/Images/sucessPaymentMan.webp" alt="success" class="success-img">
  </div>

  <div class="right-success">
    <div class="right-success-content-main">

      <div class="right-success-content">
        <div class="right-success-content-upper">
          <div class="success-tick">
            <img src="../../../../../assets/Images/successPayment.jpg" alt="success-tick" class="success-tick-img">
          </div>

          <div class="success-upper-text">
            <div class="success-text">
              Transaction Successful!
            </div>
            <div class="id-text">
              Transaction Id: 14328756930212
            </div>
          </div>
          <div class="right-bottom-text-main">
            <div class="right-bottom-text-box">
              <div class="right-bottom-text">
                  <p>Amount Paid: Rs.5000.00</p>
                  <p>Expiry Date: 2023-05-12</p>
              </div>
            </div>
            <!--have to link with the dashboard-->
            <div class="button-outer">
              <div class="button">
                <input type="button" class="button" value="Continue to Dashboard" onclick="">
              </div>
            </div>
          </div>
         </div>



      </div>

    </div>

  </div>
</div>

<!-- footer -->
<div>
  <app-footer-two></app-footer-two>
</div>
