<!--header-->
<div>
  <app-nav-bar-two></app-nav-bar-two>
</div>

<!--body of the page-->
<div class="main-wrap">

  <!--title-->
  <div class="title-wrap">
    Promote Your Business with Image Advertisement
  </div>

  <!--form main wrap-->
  <div class="form-main">
    <!--put an action-->
    <form name="image-add">
      <!--take business details-->
      <div class="business-details-wrap">
        <app-content-box-border boxName="Business Details">


          <div class="business-details-input">
            <!--Name of the Business:
            <mat-form-field appearance="fill">
              <input matInput placeholder="Mani Hotel">
            </mat-form-field>-->

            <table>
              <tr>
                <td>
                  Name of the Business:
                </td>
                <td>
                  <mat-form-field appearance="fill">
                    <input matInput placeholder="Mani Hotel" #businessName>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  Type of the Business:
                </td>
                <td>
                  <mat-form-field appearance="fill">
                    <mat-label>Types</mat-label>
                    <select matNativeControl required #businessType>
                      <option value="Hotel">Hotel</option>
                      <option value="Restaurant">Restaurant</option>
                      <option value="Entertainment">Entertainment</option>
                      <option value="Other">Other</option>
                    </select>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  Business Website Link:
                </td>
                <td>
                  <mat-form-field appearance="fill">
                    <input matInput type="url" #businessUrl>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  Hotline Contact Number:
                </td>
                <td>
                  <mat-form-field appearance="fill">
                    <input matInput type="tel" #businessPhone>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  Advertisement Title:
                </td>
                <td>
                  <mat-form-field appearance="fill">
                    <input matInput type="text" #title>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  Address of the Business:
                </td>
                <td>
                  <mat-form-field appearance="fill">
                    <input matInput type="text" #businessAddress>
                  </mat-form-field>
                </td>
              </tr>

              <tr>
                <td>
                  Insert Caption:
                </td>
                <td>
                  <mat-form-field appearance="fill">
                    <input matInput type="text" #description>
                  </mat-form-field>
                </td>
              </tr>
            </table>
          </div>
        </app-content-box-border>

      </div>


      <!--take advertisement photo-->
      <div class="advertisement-photo-wrap">
        <app-content-box-border boxName="Advertisement Photo">
          <div class="advertisement-photo-text">
            Add a photo of your advertisement. Make sure to add quality photo at least the 720p resolution. You can add
            only ONE photo.
            The photo you add here will displayed to the guests.
          </div>
          <!--box-->
          <div class="advertisement-photo-inserter">
            <div class="advertisement-photo-dashed-box">
              <div class="image-insertion-button">
                <input type="file" accept="image/*" (change)="onFileSelected($event)" #image>
              </div>
            </div>
          </div>
        </app-content-box-border>
      </div>

      <!--set your budget-->
      <div class="set-your-budget-wrap">
        <app-content-box-border boxName="Set Your Budget">

          <div class="daily-budget">
            Days Count:
            <mat-form-field appearance="fill">
              <input type="number" matInput #expireDate min="1" max="30" (input)="setPrice()">

            </mat-form-field>
          </div>
          <div class="daily-budget">
            Daily Budget:
            <mat-form-field appearance="fill">
              <input type="number" matInput #budget min="1" max="15" (input)="setPrice()">
            </mat-form-field>
          </div>
          <div style="margin-bottom: 10px;">
            {{wholePriceText}}
          </div>
        </app-content-box-border>

      </div>


      <!--continue button-->
      <div class="button-wrap">
        <input type="button" (click)="submitForm()" class="button" value="Continue">
      </div>

    </form>
  </div>


</div>


<!--footer-->
<div>
  <app-footer-two></app-footer-two>
</div>
