<router-outlet></router-outlet>
<div class="container">
  <div class="row">
    <section class="head_details">
      <h1 style="font-weight:bold;">{{hotelDto.hotelName}}</h1>
      <section class="stars">
        <ng-container *ngIf="hotelDto.starCategory !== 'NOT_RATED'">
          <section class="stars">
            <ng-container *ngIf="hotelDto.starCategory === 'ONE'">
              <mat-icon>grade</mat-icon>
            </ng-container>
            <ng-container *ngIf="hotelDto.starCategory === 'TWO'">
              <mat-icon>grade</mat-icon>
              <mat-icon>grade</mat-icon>
            </ng-container>
            <ng-container *ngIf="hotelDto.starCategory === 'THREE'">
              <mat-icon>grade</mat-icon>
              <mat-icon>grade</mat-icon>
              <mat-icon>grade</mat-icon>
            </ng-container>
            <ng-container *ngIf="hotelDto.starCategory === 'FOUR'">
              <mat-icon>grade</mat-icon>
              <mat-icon>grade</mat-icon>
              <mat-icon>grade</mat-icon>
              <mat-icon>grade</mat-icon>
            </ng-container>
            <ng-container *ngIf="hotelDto.starCategory === 'FIVE'">
              <mat-icon>grade</mat-icon>
              <mat-icon>grade</mat-icon>
              <mat-icon>grade</mat-icon>
              <mat-icon>grade</mat-icon>
              <mat-icon>grade</mat-icon>
            </ng-container>
          </section>
        </ng-container>
        <section class="address" style="margin-left: 10px">{{hotelDto.address}}</section>
      </section>

    </section>
  </div>

  <div class="row">
    <div class="gallery">
      <ng-container *ngIf="hotelDto && hotelDto.hotelImageList && hotelDto.hotelImageList.length > 0">
        <ng-container *ngFor="let hotel of hotelDto.hotelImageList">

          <img src="{{hotel.imageURL}}" alt="image1">
        </ng-container>
      </ng-container>
    </div>
  </div>

  <div class="facilities">
    <ng-container *ngIf="hotelDto.hasFreeWifi === 'Y'">
      <section class="facility_type">
        <mat-icon>network_wifi</mat-icon>
        <span class="facility_label">Free wifi</span>
      </section>
    </ng-container>

    <ng-container *ngIf="hotelDto.hasCityView === 'Y'">
      <section class="facility_type">
        <mat-icon>apartment</mat-icon>
        <span class="facility_label">City view</span>
      </section>
    </ng-container>

    <ng-container *ngIf="hotelDto.hasAirConditioning === 'Y'">
      <section class="facility_type">
        <mat-icon>ac_unit</mat-icon>
        <span class="facility_label">Air conditioning</span>
      </section>
    </ng-container>

    <ng-container *ngIf="hotelDto.hasBathtub === 'Y'">
      <section class="facility_type">
        <mat-icon>bathtub</mat-icon>
        <span class="facility_label">Bathtub</span>
      </section>
    </ng-container>

    <section class="facilities_linetwo">
      <ng-container *ngIf="hotelDto.hasSafetyDepositBox === 'Y'">
        <section class="facility_type">
          <mat-icon>lock</mat-icon>
          <span class="facility_label">Safety deposit box</span>
        </section>
      </ng-container>

      <ng-container *ngIf="hotelDto.hasParkingOnSite === 'Y'">
        <section class="facility_type">
          <mat-icon>local_parking</mat-icon>
          <span class="facility_label">Parking on site</span>
        </section>
      </ng-container>

      <ng-container *ngIf="hotelDto.hasSwimmingPool === 'Y'">
        <section class="facility_type">
          <mat-icon>pool</mat-icon>
          <span class="facility_label">Swimming pool</span>
        </section>
      </ng-container>
    </section>

  </div>

  <section class="room_table">
    <table>
      <thead>
      <tr>
        <th class="numof_people" colspan="5">Hotel Room Type Details</th>
      </tr>
      <tr>
        <th>Room type</th>
        <th>Facilities</th>
        <th>Price</th>
        <th>Select</th>
      </tr>
      </thead>
      <ng-container *ngIf="hotelDto.hotelRoomTypeList && hotelDto.hotelRoomTypeList.length > 0">
        <tbody>
        <tr class="big-row" *ngFor="let hotelRoomType of hotelDto.hotelRoomTypeList">
          <td>{{hotelRoomType.mainDescription}} <br/><br/>({{hotelRoomType.subDescription}})</td>
          <td>
            <ul>
              <ng-container
                *ngIf="hotelRoomType.hotelRoomTypeFacilities && hotelRoomType.hotelRoomTypeFacilities.length > 0">
                <li
                  *ngFor="let hotelRoomTypeFacility of hotelRoomType.hotelRoomTypeFacilities">{{hotelRoomTypeFacility.description}}</li>
              </ng-container>
            </ul>
          </td>
          <td class="price">${{hotelRoomType.price}}</td>
          <td class="check">
            <button type="submit"
                    class="btn btn-primary"
                    (click)="onBook(hotelDto, hotelRoomType)">
              Book
            </button>
          </td>
        </tr>
        </tbody>
      </ng-container>
    </table>
  </section>

</div>

