
<router-outlet></router-outlet>
<section class="head_details">
  <h1 style="font-weight:bold;">Hilton Columbia Center</h1>
  <section class="stars">
    <mat-icon>grade</mat-icon>
    <mat-icon>grade</mat-icon>
    <mat-icon>grade</mat-icon>
    <mat-icon>grade</mat-icon>
    &nbsp; &nbsp; &nbsp;
    <section class="address">924 Senate St, Columbia, South Carolina</section>
  </section>

</section>

<section class="gallery">
  <img src="../../../../../../../../assets/hotelHilton1.jpg" alt="image1">
  <img src="../../../../../../../../assets/hotelHilton2.jpg" alt="image2">
  <img src="../../../../../../../../assets/hotelHilton3.jpg" alt="image3">
  <img src="../../../../../../../../assets/hotelHilton4.jpg" alt="image4"><br/>
  <img src="../../../../../../../../assets/hotelHilton5.jpg" alt="image5">
  <img src="../../../../../../../../assets/hotelHilton6.jpg" alt="image6">

</section>

<section class="facilities">
  <section class="facility_type">
    <mat-icon>network_wifi</mat-icon> &nbsp; &nbsp;
    <span class="facility_label">Free wifi</span>
  </section>

  <section class="facility_type" style="left:300px; position:absolute;">
    <mat-icon>apartment</mat-icon> &nbsp; &nbsp;
    <span class="facility_label">City view</span>
  </section>

  <section class="facility_type" style="left:600px; position:absolute;">
    <mat-icon>ac_unit</mat-icon> &nbsp; &nbsp;
    <span class="facility_label">Air conditioning</span>
  </section>

  <section class="facility_type" style="left:900px; position:absolute;">
    <mat-icon>bathtub</mat-icon> &nbsp; &nbsp;
    <span class="facility_label">Bathtub</span>
  </section><br/>

  <section class="facilities_linetwo">
    <section class="facility_type">
      <mat-icon>lock</mat-icon> &nbsp; &nbsp;
      <span class="facility_label">Safety deposit box</span>
    </section>

    <section class="facility_type" style="left:300px; position:absolute;">
      <mat-icon>local_parking</mat-icon> &nbsp; &nbsp;
      <span class="facility_label">Parking on site</span>
    </section>

    <section class="facility_type" style="left:600px; position:absolute;">
      <mat-icon>pool</mat-icon> &nbsp; &nbsp;
      <span class="facility_label">Swimming pool</span>
    </section>
  </section>

</section>

<section class="room_table">
  <table>
    <thead>
    <tr><th class="numof_people" colspan="5">For 4 adults</th></tr>
    <tr>
      <th>Room type</th>
      <th>Facilities</th>
      <th>Price</th>
      <th>Select</th>
      <th>Confirm reservation</th>
    </tr>
    </thead>
    <tbody>
    <tr class="big-row">
      <td>2 x Deluxe Double Room <br/><br/>(per room : 1 double bed)</td>
      <td>
        <ul>
          <li>Flat screen TV</li>
          <li>Free wifi</li>
          <li>Coffee machine</li>
          <li>Private bathroom</li>

        </ul>
      </td>
      <td class="price">$1362.00</td>
      <td class="check"><mat-checkbox></mat-checkbox></td>
      <td rowspan="2"><button type="submit" class="btn btn-primary">Reserve</button></td>
    </tr>
    <tr class="big-row">
      <td>1 x Family room <br/><br/>(per room : 2 double beds)</td>
      <td>
        <ul>
          <li>Flat screen TV</li>
          <li>Free wifi</li>
          <li>Coffee machine</li>
          <li>Private bathroom</li>

        </ul>
      </td>
      <td class="price">$1500.00</td>
      <td><mat-checkbox></mat-checkbox></td>
    </tr>
    </tbody>
  </table>
</section>



