<div>
  <app-nav-bar-two></app-nav-bar-two>
</div>
<!--step one two three-->
<div class="ad-step-bar">

</div>

<!--title "Select an Advertisement Type"-->
<div class="title-container">

  <h2>Select an Advertisement Type</h2>

</div>

<!--Image and Video add-->
<div class="mid-main-wrap">

  <!--left-part-->
  <div class="left">
    <div class="img-title">
      Promote Your Business with an Image Advertisement
    </div>
    <img src="../../../../assets/Images/add-image.png" alt="nurturing-growing" class="centered-image-left" alt="imgAdd">

  </div>

  <!--right-part-->
  <div class="right">
    <div class="img-title">
      Promote Your Business with a Video Advertisement
    </div>
    <img src="../../../../assets/Images/add-video.png" alt="videoAdd" class="centered-image-right">
  </div>

</div>

<!--footer-->
<div>
  <app-footer-two></app-footer-two>
</div>
