<form #hotelSearchForm="ngForm" (ngSubmit)="searchHotels()">
    <div class="form-group">
      <label for="hotelLocation" class="hotelLocation">Destination</label>
      <input type="text" class="form-control" id="hotelLocation" name="hotelLocation" [(ngModel)]="hotelLocation"required>
    </div>
    <div class="form-group" style="top:-15px;">
      <div style="display:flex;">
        <div style="width:50%;">
          <label for="hotelCheckin" class="hotelCheckin">Check in</label>
          <input type="date" class="form-control location-input" id="hotelCheckin" name="hotelCheckin" [(ngModel)]="hotelCheckin" style="width:100px;" required >
        </div> &nbsp; &nbsp;
        <div style="width:50%;">
          <label for="hotelCheckout">Check out</label>
          <input type="date" class="form-control location-input" id="hotelCheckout" name="hotelCheckout" [(ngModel)]="hotelCheckout" style="width:100px;" required>
        </div>
      </div>
    </div>

    <div class="form-group" style="top:-25px;">
      <div style="display:flex;">
        <div style="width:50%;">
          <label for="numOfAdults">Number of adults</label>
          <input type="number" class="form-control location-input" id="numOfAdults" name="numOfAdults" [(ngModel)]="numOfAdults" style="width:100px;" required min="1" #numOfAdultsInput="ngModel">
          <div *ngIf="numOfAdultsInput.invalid && numOfAdultsInput.touched"></div>
        </div> &nbsp; &nbsp;
        <div style="width:50%;">
          <label for="numOfChildren">Number of children</label>
          <input type="number" class="form-control location-input" id="numOfChildren" name="numOfChildren" [(ngModel)]="numOfChildren" style="width:100px;" required>
        </div>
      </div>
    </div>

    <div class="form-group" style="top:-35px;">
      <label for="hotelRooms">Number of rooms</label>
      <input type="number" class="form-control" id="hotelRooms" name="hotelRooms" [(ngModel)]="hotelRooms" required min="1" #hotelRoomsInput="ngModel">
      <div *ngIf="hotelRoomsInput.invalid && hotelRoomsInput.touched"></div>
    </div>

    <div style="text-align:center;">
      <button type="submit" class="btn btn-primary" [disabled]="hotelSearchForm.invalid">Search</button>
    </div>

  </form>

