<app-nav-bar></app-nav-bar>
<router-outlet></router-outlet>
<div class="container">
  <img src="assets/restaurantSearchImage.jpg" alt="Image" class="left-image">
  <form #restSearchForm="ngForm" (ngSubmit)="searchRestaurants()">
    <div class="form-group">
      <label for="restLocation">Location:</label>
      <input type="text" class="form-control" id="restLocation" name="restLocation" [(ngModel)]="restLocation" required>
    </div>
    <div class="form-group">
      <div style="display:flex;">
        <div style="width:50%;">
          <label for="restDate">Date:</label>
          <input type="date" class="form-control location-input" id="restDate" name="restDate" [(ngModel)]="restDate" style="width:100%;" required >
        </div> &nbsp; &nbsp;
        <div style="width:50%;">
          <label for="restTime">Time:</label>
          <input type="time" class="form-control location-input" id="restTime" name="restTime" [(ngModel)]="restTime" style="width:100%;" required>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="restPeople">Number of people:</label>
      <input type="number" class="form-control" id="restPeople" name="restPeople" [(ngModel)]="restPeople"
             required min="1" #restPeopleInput="ngModel">
      <div *ngIf="restPeopleInput.invalid && restPeopleInput.touched">

      </div>
    </div>
    <div style="text-align:center;">
      <button type="submit" class="btn btn-primary" [disabled]="restSearchForm.invalid">Search</button>
    </div>
  </form>
</div>
<div style="top:500px; position:relative;"><app-footer></app-footer></div>

