<app-nav-bar></app-nav-bar>
<router-outlet></router-outlet>
<section class="hotel_secone">{{hotelDataSource.length}} properties found</section>
<section class="hotel_sectwo">
  <app-filter-by-budget></app-filter-by-budget>
  <app-filter-by-rating></app-filter-by-rating>
  <div class="hotel_search">
    <app-hotel-search-small></app-hotel-search-small>
  </div>

  <div style="margin-top: 100px">
    <div class="row" *ngFor="let hotel of hotelDataSource; index as i">
      <div class="row hotel_secfive">

        <ng-container *ngIf="hotel && hotel.hotelImageList && hotel.hotelImageList.length > 0">
          <section class="image"><img src=" {{hotel.hotelImageList[0].imageURL}}" alt="hotel image"></section>
        </ng-container>

        <section class="hotel_details"> <!--box to display hotel details (1st hotel)-->
          <h2 (click)="onClickHotel($event, hotel)">{{hotel.hotelName}}</h2>
          <ng-container *ngIf="hotel.starCategory !== 'NOT_RATED'">
            <section class="stars">
              <ng-container *ngIf="hotel.starCategory === 'ONE'">
                <mat-icon>grade</mat-icon>
              </ng-container>
              <ng-container *ngIf="hotel.starCategory === 'TWO'">
                <mat-icon>grade</mat-icon>
                <mat-icon>grade</mat-icon>
              </ng-container>
              <ng-container *ngIf="hotel.starCategory === 'THREE'">
                <mat-icon>grade</mat-icon>
                <mat-icon>grade</mat-icon>
                <mat-icon>grade</mat-icon>
              </ng-container>
              <ng-container *ngIf="hotel.starCategory === 'FOUR'">
                <mat-icon>grade</mat-icon>
                <mat-icon>grade</mat-icon>
                <mat-icon>grade</mat-icon>
                <mat-icon>grade</mat-icon>
              </ng-container>
              <ng-container *ngIf="hotel.starCategory === 'FIVE'">
                <mat-icon>grade</mat-icon>
                <mat-icon>grade</mat-icon>
                <mat-icon>grade</mat-icon>
                <mat-icon>grade</mat-icon>
                <mat-icon>grade</mat-icon>
              </ng-container>
            </section>
          </ng-container>
          <p>{{hotel.address}}</p>
          <p>{{ hotelCondition[hotel.hotelCondition] }} | <a href="">{{hotel.hotelReviewList.length}} reviews</a></p>
          <p style="font-weight:bold;">{{hotel.mainDescription}}</p>
          <p>{{hotel.subDescriptionOne}}</p>

          <p style="color:red;" *ngIf="hotel.hasFreeCancellation === 'Y'">Free cancellation</p>

        </section>

        <section class="price_details">
          <p>{{hotel.subDescriptionTwo}}</p>
          <p style="font-weight:bold; font-size: 14px;">${{hotel.price}}</p>
          <p>Tax and other charges included</p>
        </section>

      </div>
    </div>
  </div>
</section>
<!--<section class="paginator"><app-paginator></app-paginator></section>-->
<section class="footer_two">
  <app-footer-two></app-footer-two>
</section>



