<app-status-bar></app-status-bar>
<div class="title-area">
  <p>Tell us about the rooms you have </p>
  <app-content-box-fill (click)="print()">
    <div class="room-container">
      <app-hotel-room-container-box></app-hotel-room-container-box>
    </div>
    <div *ngIf="numberOfRooms==0">
      <p class="box-desc">No rooms have been added yet</p>
    </div>
    <div *ngIf="numberOfRooms==1">
      <p class="box-desc">1 room has been added</p>
    </div>
    <div *ngIf="numberOfRooms>1">
      <p class="box-desc">{{numberOfRooms}} rooms have been added</p>
    </div>
    <div class="button-container">
      <div class="button-inner">
        <button (click)="addRooms()" class="button" color="primary" mat-flat-button>Add Rooms</button>
      </div>
      <div *ngIf="numberOfRooms>0" class="button-inner">
        <button (click)="continue()" class="button" color="primary" mat-flat-button>Continue</button>
      </div>
    </div>
  </app-content-box-fill>
</div>
